body {
    font-family: sans-serif;
    transition: .3s;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.keyBoard_key{
    max-width: 1000px;
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: relative;
    order: 2;
    margin-top: 300px;


}

.line {
    display: flex;

}

.keys{
    width: 60px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.keys_back{
    width: 115px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;

}

.keys_enter {
    width: 130px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.keys_tab {
    width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.keys_caps{
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.keys_shift_left{
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.keys_shift_right{
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e80000;
    border-radius: 10px;
}

.eyes{
    color: lightgray;
    margin-left: 400px;
    margin-bottom: 40px;
    letter-spacing: 5px;
    font-family: sans-serif;
}

.hands{
    color: lightgray;
    margin-left: 375px;
    margin-top: 40px;
    letter-spacing: 5px;
    font-family: sans-serif;
}

@keyframes input-shake{
    to {
        border-color: black;
    }
}

.button-border {
    background-color: pink !important;
    /*color: black;*/
    /*border-color: #ffa637;*/
    /*text-decoration-color: yellow;*/
}

.button-test {
    background-color : lawngreen !important;
}